*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #ff008e;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapContainer{
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    background: #fff;
}
h1 {
    color: #ff008e;
    font-size: 3rem;
    margin: 1rem;
}
.container {
    padding: 0.8rem;
    width: 20rem;
    border-radius: .6rem;
    border: 0.2rem solid #ff008e;
    
}
#input{
    color: #ff008e;
    font-size: 1.4rem;
    outline: none;
    border: none;
}
::placeholder{
    color:  #ff008c6b;
}
button{
    color: #ff008e;
    background: #fff;
    font-size: 2.4rem;
    outline: none;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: all ease.5s;
}
.deleteBtn {
    font-size: 1.8rem;
}
button:hover{
    color: #ff008c6b;
}
.todoDiv{
    display: flex;
    flex-direction: row;
}
.todoList{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.li{
    color:#ff008e;
    margin: 1rem;
    font-size: 1.6rem;   
}